@font-face {
    font-family: din-regular;
    src: url(../fonts/din-regular.ttf);
}
.col-gallery-img{
    padding-left:0px !important;
    padding-bottom:15px;
}
input#inputPassword2 {
    border: 1px solid #636363;
}
 .section-gallery {
    padding: 20px 0px 7px;
}
.gallery-img-block-godrej:hover .gallery-block-text { opacity: 0; }
.enq-wrapper { padding: 0; }

/*section.landing-banner-replica{
    background-image:url("../images/godrej-tree/tree-banner.png");  
    background-size: cover;
    background-position: bottom center;
}


section.landing-banner-us-sg{
    background-image:url("../images/godrej-imgs/banner-us-sg-1.png") !important;
    background-position: left center !important;
}

*/
.prelaunch-msg-section P, body {
    font-size: 18px;
    line-height: 22px;
   
}
#enquiry-form input {
    color:#fff;
    vertical-align: top;
}
.btn-hide{
    opacity:0;
    
}
.nav-pane-r{
    position:relative !important;
}
.nav-pane-f{
   position:fixed !important;
}
.btn-show{
    opacity:1;
    
}
#amenities-logo-10,
#amenities-logo-11,
#amenities-logo-12,
#amenities-logo-7,
#amenities-logo-8,
#amenities-logo-9 {
    background-position-y: -83px
}

#amenities-logo-14,
#amenities-logo-2,
#amenities-logo-8 {
    background-position-x: -82px
}

#amenities-logo-15,
#amenities-logo-3,
#amenities-logo-9 {
    background-position-x: -165px
}

#amenities-logo-10,
#amenities-logo-16,
#amenities-logo-4 {
    background-position-x: -248px
}

#amenities-logo-11,
#amenities-logo-17,
#amenities-logo-5 {
    background-position-x: -332px
}

#amenities-logo-12,
#amenities-logo-18,
#amenities-logo-6 {
    background-position-x: -415px
}

#amenities-logo-14,
#amenities-logo-15,
#amenities-logo-16,
#amenities-logo-17,
#amenities-logo-18,
#connectivity-logo-3 {
    background-position-y: -165px
}

#amenities-logo-1,
#amenities-logo-2,
#amenities-logo-3,
#amenities-logo-4,
#amenities-logo-5,
#connectivity-logo-1,
#connectivity-logo-2,
#connectivity-logo-4,
#connectivity-logo-5,
#connectivity-logo-6 {
    background-position-y: 0
}

#amenities-logo-1,
#amenities-logo-13,
#amenities-logo-19,
#amenities-logo-7,
#connectivity-logo-1,
#connectivity-logo-7 {
    background-position-x: 0
}

#connectivity-logo-2,
#connectivity-logo-8 {
    background-position-x: -85px
}

#connectivity-logo-3,
#connectivity-logo-9 {
    background-position-x: -170px
}

#connectivity-logo-10,
#connectivity-logo-4 {
    background-position-x: -254px
}

#amenities-logo-19,
#connectivity-logo-10,
#connectivity-logo-8,
#connectivity-logo-9 {
    background-position-y: -249px
}

body {
    color: #4e4949;
    font-family: Georgia, sans-serif
}

#connectivity-logo-11 {
    background-position-x: 0;
    background-position-y: -165px
}

/*.prj-logo {*/
/*   background-color: #fff;*/
/*   padding: 5px;*/
/*   margin-top: 15px;*/
/*}*/
.prj-logo {
    background-color: transparent;
    padding: 5px;
    /* margin-top: 120px; */
    display: inline-block;
    max-width: 165px;
    float: right;
}
/*h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather Sans', sans-serif
}*/

.img-100 {
    width: 100%
}
.prelaunch-msg-section P{
  font-family: 'Futura Md BT', sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

#call-me input,
#request-call-me input {
    font-weight: 500;
    font-family: 'Open Sans', sans-serif
}

.banner-section {
    background-image: url(../images/godrej-imgs/mangroves-banner.jpg);
    min-height: 500px
}

#amenities-logo-1,
#amenities-logo-11,
#amenities-logo-12,
#amenities-logo-13,
#amenities-logo-14,
#amenities-logo-15,
#amenities-logo-16,
#amenities-logo-17,
#amenities-logo-18,
#amenities-logo-19,
#amenities-logo-2,
#amenities-logo-3,
#amenities-logo-4,
#amenities-logo-5,
#amenities-logo-6,
#amenities-logo-7,
#amenities-logo-8,
#amenities-logo-9 {
    background-image: url(../images/amenities.png)
}

#connectivity-logo-1,
#connectivity-logo-10,
#connectivity-logo-2,
#connectivity-logo-3,
#connectivity-logo-4,
#connectivity-logo-6,
#connectivity-logo-7,
#connectivity-logo-8,
#connectivity-logo-9,
#connectivity-logo-10,
#connectivity-logo-11 {
    background-image: url(../images/connectivity.png);
    width: 78px;
    height: 78px;
    margin: 0 auto
}

#amenities-logo-1,
#amenities-logo-2,
#amenities-logo-3,
#amenities-logo-4,
#amenities-logo-5 {
    width: 78px;
    height: 78px;
    margin: 0 auto
}

#amenities-logo-6 {
    background-position-y: 0;
    width: 78px;
    height: 78px;
    margin: 0 auto
}

#amenities-logo-7,
#amenities-logo-8,
#amenities-logo-9 {
    width: 78px;
    height: 78px;
    margin: 0 auto
}

#amenities-logo-10 {
    background-image: url(../images/amenities.png);
    width: 78px;
    height: 78px;
    margin: 0 auto
}

#amenities-logo-11,
#amenities-logo-12 {
    width: 78px;
    height: 78px;
    margin: 0 auto
}

#amenities-logo-13 {
    background-position-y: -166px;
    width: 78px;
    height: 78px;
    margin: 0 auto
}

#amenities-logo-14,
#amenities-logo-15,
#amenities-logo-16,
#amenities-logo-17,
#amenities-logo-18,
#amenities-logo-19 {
    width: 78px;
    height: 78px;
    margin: 0 auto
}

#connectivity-logo-5 {
    background-image: url(../images/connectivity.png);
    background-position-x: -339px;
    width: 78px;
    height: 78px;
    margin: 0 auto
}
.landing-banner-section  .tenpercent{
    font-size: 16px;
    padding-bottom: 30px;
}
#connectivity-logo-6 {
    background-position-x: -423px
}

#connectivity-logo-7 {
    background-position-y: -250px
}
.floorplan-section .slick-slide img {
    width:95%;
}
.floorplan-container{
    padding-top: 30px;
}
.landing-banner-section,
.schedule-modal-form .banner-section {
    background-image: url(../images/mulund/banner.png);
    background-size: cover
}
.parallax-bg{
    background: white;
    background-attachment: fixed;
    background-size: cover;
    color: #333;
    overflow:hidden;
}

.am-img {
    min-height: 100px;
}

.zero-broker-strip {
    padding-bottom: 20px
}

.main-logo {
    margin-bottom: 370px
}

.landing-banner-section {
    height: 100vh;
    overflow: hidden;
    position: relative
}

.landing-banner-section .form-wrapper h4 {
    font-size: 27px;
    color: #fff;
    margin: 11px auto -3px;
    padding-top: 10px
}

.landing-banner-section .navigation {
    bottom: 0
}

.landing-banner-section .strip {
    position: absolute;
    bottom: 175px;
    left: 220px
}

.landing-banner-section .form-section textarea.form-control {
    margin-bottom: 0
}

.landing-banner-section .form-section h5 {
    font-size: 18px;
    padding: 15px 0px;
    font-weight:bold;
     font-family: din-regular;
}

.landing-banner-section .form-section .form-control {
    margin-bottom: 5px
}

/*.landing-banner-section .form-wrapper {
    height: 100vh
}*/

.error-msg {
    max-width: 230px;
    float: left
}

.form-wrapper {
    background-color: #3f742dcf;  
    clear: both;
    padding: 30px 20px 15px;
    position: absolute;
    top: 120px;
    max-width: 380px;
    float: right;
    right: 0;
    z-index: 110;
}
.main-logo {
 /*   background: #fff;*/
    margin-top: 22px;
    display: inline-block;
    padding: 15px;
}
/*************/
.main-cont {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 190px;
    font-size: 40px;
    line-height: initial;
    top: 35%;
    color: #5c4ca1;
        margin: -95px 0 0;
}
.reg-patch {
    position: absolute;
       bottom: 215px;
    left: 120px;
}
.reg-patch img {
    width: 250px;
}
.plac-text {
    position: absolute;
    bottom: 162px;
    /* background: red; */
    left: 0;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 22px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 8px solid #0d6e76;
    /* color: #0d6e76; */
}
.form-section h5 {
    padding: 20px 0;
    color: #fff;
    font-size: 22px
}

.form-section option {
    background-color: rgba(33, 161, 133, .86)!important
}

.form-section select {
    padding-left: 10px
}

.form-section .btn-submit {
    background-color: transparent;
    color: #fff;
    width: 130px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 0;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#request-call-me input {
    width: 230px;
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #21422c;
    color: #21422c;
    margin-bottom: 10px;
    text-align: center
}

.form-section input, .form-section option, .form-section select {
    background-color: transparent;
    border-bottom: 1px solid #fff;
    /* border-right: 0; */
    /* border-top: 0; */
    /* border-left: 0; */
    border-radius: 0;
     color: #fff; 
}
.form-check-label {
    padding: 10px 0px;
    font-size: 12px;
}
.error {
    color: red;
    font-size: 12px;
    display: block;
    position:relative;
    z-index:1;
    line-height:normal;
}

.form-section {
    border: 1px solid #fff!important;
    max-width: 360px;
    margin: 0 auto;
    color: #fff;
    padding: 0 25px;
    min-height: 300px;
}

.modal-body .banner-section .form-section {
    margin-top: -33px;
    padding-top: 20px
}

.prelaunch-msg-section h3 {
    font-size: 22px;
    font-weight: 600;
}

.prelaunch-msg-section p {
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 0;
    line-height: 21px;
}

.prelaunch-msg-section {
    color: #fff;
    background-color: #0d6e76;
    padding: 15px 0 10px
}

.form-check-input {
    margin-top: 10px
}

.form-section .form-control {
    margin-bottom: 5px!important;
    -moz-appearance: none
}

.form-section textarea {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 0
}

.form-wrapper h4 {
    font-size: 34px;
    color: #fff;
    margin: 10px auto;
    padding-top: 40px
}

.form-wrapper p {
    font-size: 24px;
    color: #fff;
    margin: 5px 0
}

.call-me-form {
    margin: 5px 0;
    float: right;
}
.call-me-form .btn-call-submit {
    border-radius: 13px !important; 
    background-color: #eee;
    width: 103px;
    color: #000;
    margin-top: 14px;
    padding: 6px 12px;
    /* margin-bottom: 10px; */
    height: 40px;
}

.call-me-form .col-sm-3 {
    padding: 0
}

/*#call-me input {*/
/*    width: 300px;*/
/*    height: 42px;*/
/*    border-radius: 0;*/
/*    background-color: #fff;*/
/*    color: #000;*/
/*    margin: 13px 0;*/
/*}*/
#call-me input {
    width: 256px;
    height: 42px;
    border-radius: 0;
    background-color: #528a53;;
    color: #000;
    margin: 13px 0 2px;
    float: right;
    margin-right: 20px;
}

.btn-call-submit:hover,
.btn-submit:hover {
    background: #3f742d;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff
}

.phone-icon {
    padding-right: 5px;
    font-size: 16px
}

.phone-number {
    /*background-color: #318739;*/
    width: 79%;
    margin: 10px auto!important;
    padding: 5px
}

.phone-number a {
    color: #fff;
    font-size: 16px!important
}

#download-modal .close,
#price-modal .close {
    font-size: 28px;
    opacity: 1!important
}

.phone-number a:hover {
    color: #fff;
    text-decoration: none
}

.phone-number a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0
}

.back-to-top {
    animation: back-to-top 3s infinite;
    -webkit-animation: back-to-top 3s infinite
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 30px;
    display: none;
    text-indent: -9999px;
    background: url(../images/go-up-arrow.png) no-repeat
}

#price_form {
    padding-top: 20px
}

#download-modal .modal-header,
.download-modal-body {
    background-color: #3f742d;
    color: #fff
}

#download-modal .form-section {
    min-height: 290px;
    border: 0!important;
    padding-top: 15px
}

.popup-btn h1:hover {
    background: #3a3939;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.37);
}
.popup-btn{
    
    display:inline-block;
}
.anchor:hover {
    color: #858585
}

#price-modal .modal-header,
.download-modal-body {
    background-color: #0d6e76;
    color: #fff
}

#price-modal .modal-header input,
.download-modal-body {
    color: #0d6e76
}

#download-modal .modal-dialog {
    width: 30%
}

#price-modal .form-section {
    min-height: 300px!important
}

#price-modal .download-modal-body {
    min-height: 300px
}

#download-modal .form-section input,
#price-modal .form-section option,
#price-modal .form-section select {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-right: 1px;
    border-top: 1px;
    border-left: 1px;
    border-radius: 1px;
    color: #666
}

#download-modal .form-section input::-webkit-input-placeholder {
    color: #666;
    font-family: Georgia, sans-serif
}

#download-modal .form-section input::-moz-placeholder {
    color: #666;
    font-family: Georgia, sans-serif
}

#download-modal .form-section input:-ms-input-placeholder {
    color: #666;
    font-family: Georgia, sans-serif
}

#download-modal .form-section input:-moz-placeholder {
    color: #666;
    font-family: Georgia, sans-serif
}

#price-modal .btn-submit {
    background-color: transparent;
    color: #fff;
    width: 130px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 0;
    text-transform: uppercase;
    margin-bottom: 10px
}

#price-modal .modal-dialog {
    width: 33%
}

#price-modal input {
    border-radius: 0;
    color: #858585
}

#request-call-me input::-webkit-input-placeholder {
    color: #21422c;
    font-family: Georgia, sans-serif;
    font-size: 16px
}

#request-call-me input::-moz-placeholder {
    color: #21422c;
    font-family: Georgia, sans-serif;
    font-size: 16px
}

#request-call-me input:-ms-input-placeholder {
    color: #21422c;
    font-family: Georgia, sans-serif;
    font-size: 16px
}

#request-call-me input:-moz-placeholder {
    color: #21422c;
    font-family: Georgia, sans-serif;
    font-size: 16px
}

.form-section .from-group {
    margin-bottom: 20px
}

.form-section textarea::-webkit-input-placeholder {
    color: #fff;
    font-family: Georgia, sans-serif
}

.form-section textarea::-moz-placeholder {
    color: #fff;
    font-family: Georgia, sans-serif
}

.form-section textarea:-ms-input-placeholder {
    color: #fff;
    font-family: Georgia, sans-serif
}

.form-section textarea:-moz-placeholder {
    color: #fff;
    font-family: Georgia, sans-serif
}

#site_visit .error {
    margin-top: -6px
}

.form-control:focus {
    box-shadow: none;
    border-color: #fff
}

#domain_form textarea::-webkit-input-placeholder {
    color: #fff;
    font-family: Georgia, sans-serif
}

#domain_form textarea::-moz-placeholder {
    color: #fff;
    font-family: Georgia, sans-serif
}

#domain_form textarea:-ms-input-placeholder {
    color: #fff;
    font-family: Georgia, sans-serif
}

#domain_form textarea:-moz-placeholder {
    color: #fff;
    font-family: Georgia, sans-serif
}

.form-section input::-webkit-input-placeholder {
    color: #fff;
    font-family: Georgia, sans-serif
}

.form-section input::-moz-placeholder {
    color: #fff;
    font-family: Georgia, sans-serif
}

.form-section input:-ms-input-placeholder {
    color: #fff;
    font-family: Georgia, sans-serif
}

.form-section input:-moz-placeholder {
    color: #fff;
    font-family: Georgia, sans-serif
}

.call-me-form input::-webkit-input-placeholder {
    color: #000;
    font-family: Georgia, sans-serif
}

.call-me-form input::-moz-placeholder {
     color: #000;
    font-family: Georgia, sans-serif
}

.call-me-form input:-ms-input-placeholder {
    color: #000;
    font-family: Georgia, sans-serif
}

.call-me-form input:-moz-placeholder {
    color: #fff;
    font-family: Georgia, sans-serif
}

#enquiry-form .error {
    margin-bottom: -10px;
    margin-top: 2px
}

.schedule-modal-form .modal-dialog {
    width: 767px;
    margin-top: 100px
}

.schedule-modal-form .form-wrapper {
    min-height: 500px
}

.schedule-modal-form .modal-body,
.schedule-modal-form .modal-header {
    border: 0;
    padding: 0
}

.schedule-modal-form .close {
    float: right;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: #f5f5f5;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1!important;
    position: relative;
    top: -10px;
    z-index: 1;
    border-radius: 50px;
    padding: 2px;
    width: 35px;
    left: 7px
}

.schedule-modal-form .form-wrapper h4 {
    font-size: 34px;
    color: #fff;
    margin: -35px auto 10px;
    padding-top: 32px
}

.schedule-modal-form .form-section {
    border: 0!important
}

.footer-rera-text h2 {
    font-size: 22px
}

.footer-rera-text .rera-num {
    padding-top: 20px;
    font-size: 20px;
    line-height: normal;
}
.footer-rera-text p strong {
    font-size: 18px
}

.second-block-section h3 {
    padding: 10px;
    font-size: 20px
}
.banner-title{
    top: 5px;
    width: 55%;
    text-transform: uppercase;
    position: absolute;
    font-size: 21px;
    color: #000;    
}

/* CSS for us & sg replaced banner image title white background */
.banner-title-background{
    /*background:white;*/
    padding: 2px;   
}
.gallery-img, .gallery-img-block-godrej {
    position: relative;
}

.gallery-img-block-godrej:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: all .5s;
    border: 2px solid rgba(0, 102, 102, 0);
}  
.gallery-img-block-godrej:hover:after {
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    background: rgba(0, 102, 102, 0);
    border: 2px solid rgba(255, 255, 255, 1);
}
.submerge-line{
    font-size:20px;
    display:block;
}
.video-section iframe{
    margin: 40px 0px;
}
@media (min-width:1600px) {
    .landing-banner-section .form-wrapper {
        height: auto
    }
}
@media(max-width:1440px) {
     .prelaunch-msg-section {
      top: 180px ;
}
   
}
@media(max-width:1439px) {
    /*.landing-banner-section,
    .landing-banner-section .form-wrapper {
        height: auto
    }*/
    .landing-banner-section .strip {
        max-width: 318px;
        left: 50px
    }
    /*.landing-banner-section .navigation {
        position: relative;
    }*/
    .fixed-header {
       position: fixed !important;
   
    }
    .call-me-form .btn-call-submit {
        width: 100px
    }
    #call-me input {
        width: 290px
    }

}
@media(max-width:1366px) {
    .call-me-form .btn-call-submit {
        width: 100px;
        background: #336633;
        color: white;
    }
    #call-me input {
        width: 230px;
        position: relative;
        z-index: 5;
    }
    .form-wrapper {
       padding: 10px 20px 0px;
       top: 90px;
        max-width: 361px;
    }
    .landing-banner-section{
        height:100vh;
    }
    .phone-number {
        margin: 0px auto !important;
        padding: 8px;
   }
  .prelaunch-msg-section {
    color: #fff;
      padding: 15px 0 10px;
    width: 100%;

}
} 
@media(max-width:1200px) {
    .call-me-form .btn-call-submit {
        width: 100px
    }
    #call-me input {
        width: 230px
    }
    .form-wrapper {
       padding: 10px 20px 0px;
       top: 70px;
       max-width: 361px;
       z-index: 8;
    }
    .landing-banner-section{
        height:auto;
    }
    .phone-number {
        margin: 0px auto !important;
        padding: 8px;
   }
  .banner-title{
      width:70%;
  }
}    
@media(max-width:992px) {
    .call-me-form .btn-call-submit {
        width: 100px
    }
    .floorplan-container{
        padding-bottom:55px;
    }
    #download-modal .modal-dialog {
    width: 52%;
   }
    #call-me input {
        width: 230px
    }
    .banner-title{
        width:79%;
    }
    #request-call-me input {
        width: 200px
    }
    .landing-banner-section {
        /*background-image: url(../images/godrej-tree/tree-banner.jpg);*/
        height: auto;
        overflow: hidden;
        background-size: cover;
        position: relative
    }
    .landing-banner-section .strip {
        max-width: 318px;
        left: 50px;
    }
    .zero-broker-strip {
        max-width: 190px;
}
  .icon-text{
      font-size:23px;
  }
  .img-text-block ul li{
      font-size:16px;
  }
   .footer-rera-text .rera-num{
        font-size:16px;
        line-height:normal;
    }
    .color-form .form-section {
    padding-bottom: 80px;
}
   
}
@media(max-width:767px) {
    .pd-t-20 {
    padding: 20px 0 0 10px;
}
    .landing-banner-section{
        height: auto;
        background-attachment:fixed;
    }
  .enq-wrapper { padding: 0px 15px; }
  .color-form .form-section {
    padding-bottom: 43px !important;
}

.prj-logo {
    background-color:transparent;
    display: block;
    margin: auto;
    height: 58px;
    float:none;
}

.main-logo{
     background-color:#fff;
     margin-top:30px;
}
#contactForm{
    width:300px !important;
}
.navbar-toggle{
    margin-top: 0px;
}
.mob-wrapper {
    margin-top: 25px !important;
}
#contactForm{
    height:395px !important;
}
    section.landing-banner-replica{
        background-attachment: fixed !important;
    }
    .unit-pricing-section td{
        padding-left:10px;
    }
    .gallery-section, .unit-pricing-section{
        padding-bottom:10px;
    }
    .banner-title {
    top: 71px;
    width: 90%;
    text-transform: uppercase;
    position: absolute;
    font-size: 14px;
    color: #000;
    text-align: center;
    margin: 18px auto;
}
.col-gallery-img {
    padding-left: 15px !important;
   
}
.fixed-header {
    position: relative !important;
}
    .zero-broker-strip {
        padding-bottom: 10px;
        margin-top: 10px;
        max-width: 175px
    }
    .strip-2 img {
        margin-bottom: 10px;
        max-width: 280px
    }
    .landing-banner-section,
    .landing-banner-section .form-wrapper {
    
        top:-12px;
    }
    .landing-banner-section .strip {
        max-width: 100%;
        left: 0;
        bottom: 0;
        padding: 20px;
        position: relative
    }
    .landing-banner-section .navigation {
        position: relative
    }
    #download-modal .form-section {
        min-height: 200px!important
    }
    .phone-number {
        font-size: 13px!important
    }
    .schedule-modal-form .modal-dialog {
        margin-top: 0
    }
    #download-modal .modal-dialog,
    #price-modal .modal-dialog {
        width: 100%;
        margin: 30px auto
    }
    #request-call-me input {
        width: 173px
    }
    .schedule-modal-form .modal-dialog {
        width: 100%;
        margin-left: 0
    }
    .schedule-modal-form .main-logo {
        padding-top: 0;
        margin-bottom: 62px
    }
    .main-logo {
        padding-top: 5px;
        display: block;
        margin-right: auto;
        max-width: 120px;
        margin-left: auto;
        margin-bottom: 0;
    }
    .prelaunch-msg-section h3 {
        font-size: 20px
    }
    #call-me input {
        width: 215px!important;
    line-height: normal;
    margin: 13px 14px 11px 0px;
    font-size: 10px;
    }
    .call-me-form .btn-call-submit, #call-me input {
    height: 30px;
   }
   .error-msg {
    max-width: 230px;
    float: left;
}
.error-msg .error{
    font-size:12px;
}
.call-me-form .btn-call-submit {
    width: 59px !important;
        padding: 6px 7px;
}
    .form-wrapper h4 {
        font-size: 22px
    }
    .form-wrapper {
       padding:10px;
        clear: both;
        position:relative;
    }
    .footer-rera-text .rera-num{
        font-size:15px;
        line-height:normal;
    }
    .prelaunch-msg-section h3{
        font-size: 13px;
        line-height:normal;
    }
    .prelaunch-msg-section P, body {
    font-size: 16px;
    line-height: 22px;
}
.main-cont br {
    DISPLAY: NONE;
}
.main-cont {
    position: RELATIVE;
    height: auto;
    font-size: 19px;
}
.reg-patch, .main-cont, .plac-text  {
    position: relative;
    bottom: 0;
    left: 0;
    top:0;
    text-align: center;
}
.plac-text {
    margin: 7px 0 0;
    font-size: 14px;
}
}

@media(max-width:350px) {
    .call-me-form .btn-call-submit {
        width: 80px
    }
}
